mapper.remap do 
  cmd-ctrl-arrow >> cmd-arrow
  ctrl-backspace >> alt-backspace
  ctrl-[shift]-arrow >> alt-[shift]-arrow
  shift-cmd-ctrl-arrow >> cmd-ctrl-arrow
  cmd-[shift]-tab >> alt-[shift]-tab
  cmd-a >> cmd-b { only firefox }
  cmd-z >> ctrl-z { except 'Google Chrome', /microsoft/ }
  ctrl-left >> alt-b { only terminal }
  ctrl-right >> alt-f { only terminal }
end
