remap do 
  cmd-ctrl-arrow       >> cmd-arrow
  shift-cmd-ctrl-arrow >> cmd-ctrl-arrow
  ctrl-backspace       >> alt-backspace

  ctrl-[shift]-arrow >> alt-[shift]-arrow
  cmd-[shift]-tab    >> alt-[shift]-tab   ( except /adobe.*/ )

  only terminal do
    ctrl-left  >> alt-b
    ctrl-right >> alt-f
  end

  ctrl-z >> cmd-z   ( only /microsoft (word|excel|powerpoint)/ )

  only firefox, 'Google Chrome', safari do
    [l, t, w].each do |key|
      ctrl-key >> cmd-key
    end
  end
end
