mapper.remap do 
  cmd-ctrl-arrow >> cmd-arrow
  ctrl-backspace >> alt-backspace
  ctrl-[shift]-arrow >> alt-[shift]-arrow
  shift-cmd-ctrl-arrow >> cmd-ctrl-arrow
  cmd-[shift]-tab >> alt-[shift]-tab
end
